services:
  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"

  ai_server:
    build: .
    container_name: ai_server
    ports:
      - "8000:8000"
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
